{% extends 'home/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<form method = "post" class="new-portfolio">
    {% csrf_token %}
    <div class="container add-portfolio-form form-container">
        <div class="col">
            <p class="fw-light fs-2 " style = "margin-top: 20px;text-align: center; color: rgb(250,105,18);" >Create New Portfolio</p>
        </div>

        {% if portfolio_form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <span><b>{{ field.label }}</b>: {{ error }}</span>
        {% endfor %}
        {% endfor %}
        {% for error in portfolio_form.non_field_errors %}
        <span><b>{{ error }}</span>

        {% endfor %}
        {% endif %}

        <div class="col mt-4">
            <label name='new_portfolio' class="col-form-label fw-bold fs-6"> Portfolio name </label>
            <div class="fv-row">
                {{ portfolio_form.name }}
            </div>
        </div>
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> Total cost </label>
            <div class="fv-row" onkeypress = "blockTypeNonNumericInput(event, this)">
                {{ portfolio_form.total_cost }}
            </div>

        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 mt-4">
                <button type="submit" name='new_portfolio' class="button cancel-button form-btn mr-2" style = "background:none; color:white;" > Add </button>
                <button onclick = "hideForm(['.add-portfolio-form'])" class="button cancel-button form-btn mr-2" style = "background:none; color:white;" type="button"> Cancel </button>
            </div>
        </div>
    </div>
</form>

<form method = "post" class="new-asset">
    {% csrf_token %}
    <div class="container form-container add-asset-form">
        <div class="col">
            <p class="fw-light fs-2 " style = "margin-top: 20px;text-align: center; color: rgb(250,105,18);" >Add New Asset</p>
        </div>

        {% if transaction_form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <span><b>{{ field.label }}</b>: {{ error }}</span>
        {% endfor %}
        {% endfor %}
        {% for error in transaction_form.non_field_errors %}
        <span><b>{{ error }}</span>

        {% endfor %}
        {% endif %}
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> Portfolio name </label>
            <div class="fv-row">
                {{ transaction_form.portfolio_name }}
            </div>
        </div>
        <div class="col mt-4">
            <label name='transaction_form' class="col-form-label fw-bold fs-6"> Coin </label>
            <div class="fv-row">
                {{ transaction_form.asset_name }}
            </div>
        </div>
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> Date </label>
            <div class="fv-row">
                {{ transaction_form.date }}
            </div>
        </div>
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> Amount </label>
            <div class="fv-row">
                {{ transaction_form.amount }}
            </div>
        </div>
        <div class="col mt-4">
            <label class="col-form-label  fw-bold fs-6"> Cost </label>
            <div class="fv-row">
                {{ transaction_form.cost }}
            </div>
        </div>
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> Price </label>
            <div class="fv-row" onkeypress = "blockTypeNonNumericInput(event, this)">
                {{ transaction_form.price }}
            </div>

        </div>
        <div class="col mt-4">
            <label class="col-form-label fw-bold fs-6"> type </label>
            <div class="fv-row">
                {{ transaction_form.type }}
            </div>

        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 mt-4">

                <button type="submit" name='new_transaction' class="button cancel-button form-btn mr-2" style = "background:none; color:white;" > Add </button>
                <button onClick="hideForm(['.add-portfolio-form', '.add-asset-form'])" class="button cancel-button form-btn mr-2" style = "background:none; color:white;" type="button"> Cancel </button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid content-container">

    <div class="container-sm " style = "background: #212121; height: 80vh; padding: 20px;border-radius: 50px; margin-top: 10vh;">
        <div class="sidebar-container-left">
<!--            <div class="d-flex bd-highlight mb-3 align-items-start">-->
<!--                <p class="fw-lighter fs-1 mt-3 ml-3 mb-0" style = "width: 100%;">Portfolios</p>-->
<!--            </div>-->
<!--            <div class="line"></div>-->
            <ul class="list-group mt-5">
                {% for portfolio in portfolios %}
                <li class="list-group-item portfolio-item" style ="color:white;">
                    </a><p class="fw-lighter fs-4 mt-3 ml-3 mb-0" style = "width: 100%;">{{portfolio.name}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar-container-right">
<!--            <table class="table" style = "color:white">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Rank</th>-->
<!--                    <th scope="col">Name</th>-->
<!--                    <th scope="col">Symbol</th>-->
<!--                    <th scope="col">Amount</th>-->
<!--                    <th scope="col">Entry Price</th>-->
<!--                    <th scope="col">Profit</th>-->
<!--                    <th scope="col">24h Change</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                {% for asset in assets %}-->
<!--                <tr>-->
<!--                    <th scope = "row"></th>-->
<!--                    <td> {{asset}} </td>-->
<!--                    <td> {{asset}} </td>-->
<!--                    <td> {{asset}} </td>-->
<!--                    <td> {{asset}} </td>-->
<!--                    <td> {{asset}} </td>-->
<!--                    <td> {{asset}} </td>-->
<!--                </tr>-->

<!--                {% endfor %}-->
<!--                </tbody>-->

<!--            </table>-->
        </div>
        <button type="button"
                onClick="showForm('.add-asset-form', '.add-portfolio-form' )"
                class="form-btn add-button button-container "
                style = "float:right">
            ADD ASSET
        </button>

        <button type="button" onClick="showForm('.add-portfolio-form', '.add-asset-form')"
                class="form-btn add-button add-portfolio-button button-container mr-5" style = "float:right">ADD PORTFOLIO</button>

    </div>
</div>

<script src="{% static 'events.js' %}"></script>

{% endblock %}


