{% extends 'home/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1 class="display-4 mb-5 mt-5" style = "text-align : center">Track Your Investments in One Place</h1>
    <div class="container-md">

        <h5 class="display-5 mb-5 mt-5" style = "text-align : center">
            <p style = "color:rgb(250,105,18)">Log in to explore your funds</p>
        </h5>
        <div class="container-md p-10 table-coin-info">

            <div class="object-center">
                <button class="btn btn-create-account fs-5"  type="submit" style ="color: white; width: 20vh" >
                    <a class = "link" href="" > See more
                    </a>
                </button>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}
