{% extends 'home/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-sm p-3" style = "max-width: 600px; margin-top: 10vh">
    <div class="auth-form">
        <p class="fs-2 fw-light orange-font-color" style = "text-align: center; color:rgb(250,105,18);">Account Has Been Created!</p>
        <p class="fs-4 fw-lighter orange-font-color" style= "text-align: center; margin-top: 50px;" >Before you sign in, check out your e-mail to confirm registration.</p>
    </div>
</div>

{% endblock %}