{% extends 'home/base.html' %}
{% load static %}

{% block header %}
{% endblock %}



{% block content %}

<div class="container-md p-3" style = "max-width: 600px; margin-top: 10vh">
    <div class="auth-form">
        <p class="fs-2 fw-lighter" style = "text-align: center;">Change password</p>

        <form method = "post">

            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div  class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="mb-3">
                <label for="password" class = "form-label">{{ form.password.label }}</label>
                {{form.password}}
            </div>

            <div class="mb-3">
                <label for="password" class = "form-label">{{ form.password_confirm.label }}</label>
                {{form.password_confirm}}
            </div>
            <button type="submit" class="btn btn-create-account btn-outline-dark">Reset Password</button>
        </form>
    </div>
</div>


{% endblock %}