{% extends 'home/base.html' %}
{% load static %}


{% block header %}
{% endblock %}

{% block content %}

<div class="container-sm p-3" style = "max-width: 600px; margin-top: 10vh">
    <div class="auth-form">
        <p class="fs-2 lighter orange-font-color" style = "text-align: center; color:rgb(250,105,18);">You have to confirm e-mail before using a service.</p>
        <p class="fs-4 fw-lighter " style= "text-align: center; margin-top: 50px;" >If you didn't get e-mail<a href="#" class="orange-font-color" style="text-decoration:none;"> click here. </a></p>
    </div>
</div>

{% endblock %}